.btn {
  background: $color_main;
  color: #fff;
  border: none;
  border-radius: $radius-s;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 16px;
  transition: 0.3s;
  &.primary.full {
    width: 100%;
    padding: 16px 0;
    font-size: 15px;
    margin-top: 25px;
  }
  &:hover:not(:disabled) {
    background: $color_main_deep;
  }
  &:disabled {
    background: #ccc;
    cursor: not-allowed;
    opacity: 0.8;
  }
}

// 
    // <button type="button" class="btn search" @click="searchAddress">
    //   <i class="fa-solid fa-magnifying-glass"></i>
    //   <span>주소 검색</span>
    // </button>